-
    const CONTACT = {
        address: {
            content: 'Paseo de La Reforma #342, Piso 18, Oficinas 1802,<br>Col. Juárez, C. P. 06600,<br>Alcaldía Cuauhtémoc, CDMX',
            url: 'https://goo.gl/maps/XCoTipH2NucHKfAd7',
        },
        email: 'clientes@proxper.com.mx',
        tel: {
            one: '5563499558',
        },
    }