-
    const SOCIALS = [
        {
            icon: 'facebook.svg',
            url: 'https://www.facebook.com/ProxperAsesores/',
        },
        {
            icon: 'linkedin.svg',
            url: 'https://www.linkedin.com/company/proxper-asesores/',
        },
        {
            icon: 'instagram.svg',
            url: 'https://www.instagram.com/proxper_asesores/',
        },
    ]