-
    const NAVBAR_LEFT = [
        {
            content: 'Productos',
            url: 'index.html#productos',
        },
        {
            content: 'Nosotros',
            url: 'nosotros.html',
        },
        //- {
        //-     content: 'Labor social',
        //-     url: 'labor-social.html',
        //- },
    ]
    
    const NAVBAR_RIGHT = [
        {
            content: 'Únete a nuestro equipo',
            url: 'unete-a-nuestro-equipo.html',
        },
        {
            content: 'Contacto',
            url: 'contacto.html',
        },
    ]