-
    const CARDS_PRODUCT = [
        {
            productName: 'Realiza',
            productDescription: 'Protección más ahorro al alcance de tu bolsillo',
            productCtaUrl: 'realiza.html',
            productIcon: 'product-icon-realiza.svg',
            productThumbnail: 'card-product-realiza.jpg',
        },
        {
            productName: 'Segubeca',
            productDescription: 'Asegura la educación universitaria de tu hijo',
            productCtaUrl: 'segubeca.html',
            productIcon: 'product-icon-segubeca.svg',
            productThumbnail: 'card-product-segubeca.jpg',
        },
        {
            productName: 'Imagina Ser',
            productDescription: 'Ahorra para el retiro que imaginas',
            productCtaUrl: 'imagina-ser.html',
            productIcon: 'product-icon-imagina-ser.svg',
            productThumbnail: 'card-product-imagina-ser.jpg',
        },
        {
            productName: 'Vida Mujer',
            productDescription: 'Mujer previsora vale por dos',
            productCtaUrl: 'vida-mujer.html',
            productIcon: 'product-icon-vida-mujer.svg',
            productThumbnail: 'card-product-vida-mujer.jpg',
        },
        {
            productName: 'Gastos Médicos',
            productDescription: 'Protege tu salud y la de tus seres queridos',
            productCtaUrl: 'sgmm.html',
            productIcon: 'product-icon-sgmm.svg',
            productThumbnail: 'card-product-sgmm.jpg',
        },
        {
            productName: 'Star Dotal',
            productDescription: 'El ahorro que necesitas para alcanzar tus metas',
            productCtaUrl: 'star-dotal.html',
            productIcon: 'product-icon-realiza.svg',
            productThumbnail: 'card-product-star-dotal.jpg',
        },
        {
            productName: 'Orvi 99',
            productDescription: 'Tome decisiones hoy para maximizar sus ingresos en el futuro',
            productCtaUrl: 'orvi-99.html',
            productIcon: 'product-icon-realiza.svg',
            productThumbnail: 'card-product-orvi-99.jpg',
        },
    ]

    const CARDS_DIRECTOR_TEAM = [
         {
            teamName: 'Marco Villa',
            teamTitle: 'Socio fundador',
            teamPosition: 'directivo',
            teamPhoto: 'colaborador-marco-villa.jpg',
        },
        {
            teamName: 'Brando Fernández',
            teamTitle: 'Socio fundador',
            teamPosition: 'directivo',
            teamPhoto: 'colaborador-brando-fernandez.jpg',
        },
    ]

    const CARDS_MANAGEMENT_TEAM = [
        {
            teamName: 'Ximena Mendoza',
            teamTitle: 'Gerente de Capital Humano',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-ximena-mendoza.png',
        },
        {
            teamName: 'Fernanda Sánchez',
            teamTitle: 'Gerente de Operaciones y Administración ',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-fernanda-sanchez.jpg',
        },
        {
            teamName: 'Karina González',
            teamTitle: 'Office Manager',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-karina-gonzalez.jpg',
        },
        {
            teamName: 'Valeria Martínez',
            teamTitle: 'Community Manager',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-valeria-martinez.jpg',
        },
    ]

    const CARDS_CONSULTANT_TEAM = [
        {
            teamName: 'Vladimir Vera',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-vladimir-vera.jpg',
            rank: 1,
        },
        {
            teamName: 'Wendy Figueroa',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-wendy-figueroa.jpg',
            rank: 2,
        },
        {
            teamName: 'César Mata',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-cesar-mata.jpg',
            rank: 3,
        },
        {
            teamName: 'Gerardo Patiño',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-gerardo-patiño.jpg',
            rank: 4,
        },
        {
            teamName: 'Yessica Beamonte',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-yessica-beamonte.jpg',
            rank: 5,
        },
        {
            teamName: 'Marco Cisneros',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-marco-cisneros.jpg',
            rank: 6,
        },
        {
            teamName: 'Karina Fernández',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-karina-fernandez.jpg',
            rank: 7,
        },
        {
            teamName: 'Norma Monterrubio',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-norma-monterrubio.png',
            rank: 8,
        },
        {
            teamName: 'Elizabeth Huerta',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-elizabeth-huerta.jpg',
            rank: 9,
        },
        {
            teamName: 'Miriam Hoffman',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-miriam-hoffman.jpg',
            rank: 10,
        },
        {
            teamName: 'Karla Trillo',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-karla-trillo.jpg',
            rank: 11,
        },
        {
            teamName: 'Pamela Capilla',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-pamela-capilla.jpg',
            rank: 12,
        },
        {
            teamName: 'Alejandra Castro',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-alejandra-castro.jpg',
            rank: 13,
        },   
        {
            teamName: 'Iván Sanchez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-ivan-sanchez.jpg',
            rank: 14,
        },
        {
            teamName: 'César Sepúlveda',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-cesar-sepulveda.jpg',
            rank: 15,
        },
        {
            teamName: 'Porfirio Rodriguez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-porfirio-rodriguez.jpg',
            rank: 16,
        },
        {
            teamName: 'Jorge Gutiérrez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-jorge-gutierrez.jpg',
            rank: 17,
        },
        {
            teamName: 'Luis Salazar',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-luis-salazar.png',
            rank: 18,
        },
        {
            teamName: 'Sharon Saules',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-sharon-saules.jpg',
            rank: 19,
        },
        {
            teamName: 'Liliana Campos',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-liliana-campos.jpg',
            rank: 20,
        },
        {
            teamName: 'Luis Cisneros',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-luis-cisneros.jpg',
            rank: 21,
        },
        {
            teamName: 'Juan Carlos Sabines',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-juan-carlos-sabines.jpg',
            rank: 22,
        },
        {
            teamName: 'Cinthya Córdova',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-cinthya-cordova.png',
            rank: 23,
        },
        {
            teamName: 'Sergio Romero',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-sergio-romero.png',
            rank: 24,
        },  
        {
            teamName: 'Absalom Sánchez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-absalom-sanchez.png',
            rank: 25,
        },  
        {
            teamName: 'Darinka Delgadillo',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-darinka-delgadillo.png',
            rank: 26,
        },  
        {
            teamName: 'Luis Martínez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-luis-martinez.png',
            rank: 27,
        },  
        {
            teamName: 'Karla Andrade',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-karla-andrade.png',
            rank: 28,
        },  
    ]

    const CARDS_HDIW = {
        realiza:  [
            {
                bullet: 'Estableces el monto que quieres de protección y el que puedes ahorrar según el periodo (mensual, semestral o anual) que mejor se adapta a tus posibilidades y momento de vida.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tu ahorro se generará a partir de haber cubierto tu prima básica de protección y los excelentes que ingreses a tu póliza de acuerdo con el riesgo que elijas.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tu seguro es vitalicio, lo que quiere decir que cambiará conforme lo hagan tus necesidades a lo largo de tu vida.',
                icon: 'icon-card-product.svg',
            },
        ],
        //- ok, pero no visibles en el sitio
        sgmm:  [
            {
                bullet: 'Cubre los gastos médicos de un accidente o enfermedad',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Da protección contra padecimientos congénitos',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Forma parte de una gran red de convenios hospitalarios',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Brinda cobertura por maternidad, complicaciones del embarazo y recién nacido',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Acceso a plan preferente con descuento en prima y ventajas en cobertura si gozas de buena salud',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Proporciona tratamientos dentales por accidentes amparados, así como de nariz y senos paranasales',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Obtienes segunda y tercera opinión médica sin costo',
                icon: 'icon-card-product.svg',
            },
        ],
        //- de smny
        segubeca:  [
            {
                bullet: 'Define el monto que necesitas ahorrar para la educación de tu hijo; considera el Costo aproximado de la universidad y Gastos adicionales que se deben cubrir.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Si durante el tiempo en que te encuentras haciendo tus aportaciones llegaras a faltar o a padecer invalidez, SeguBeca cubre los pagos restantes a través de las coberturas que te ofrecemos para complementar tu plan ante alguna eventualidad.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'En caso de que llegues a faltar, tu familia contará con una suma asegurada al menos igual a la del ahorro que contrataste.',
                icon: 'icon-card-product.svg',
            },
            //- {
            //-     bullet: 'En el momento en que tu hijo llegue a la edad de 18 años, comenzará a recibir el ahorro que formaste durante toda la vigencia del plan.',
            //-     icon: 'icon-card-product.svg',
            //- },
            //- {
            //-     bullet: 'Como un apoyo, en caso de ocurrir el fallecimiento del asegurado, le otorgaremos al beneficiario un anticipo de hasta el 15% de la suma asegurada del plan.',
            //-     icon: 'icon-card-product.svg',
            //- },
        ],
        //- de smny
        vidamujer:  [
            {
                bullet: 'Establece la protección que necesitas de acuerdo con tu etapa de vida y que se adapte mejor a tus necesidades.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Define el monto que puedes ahorrar, así como el periodo de pago (mensual, semestral o anual).',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'A partir del 5º año te entrega el 5% de la suma asegurada, posteriormente lo hace cada 2 años y así, hasta llegar al año 17. En el año 20 recibes el 80%. Al final habrás recibido 115% de la suma asegurada que contrataste.',
                icon: 'icon-card-product.svg',
            },
            //- {
            //-     bullet: 'Independientemente del ahorro recibido, en caso de fallecimiento durante el periodo de vigencia del plan, tus beneficiarios reciben el 100% de la suma asegurada.',
            //-     icon: 'icon-card-product.svg',
            //- },
        ],
        //- de smny
        imaginaser:  [
            {
                bullet: 'Estableces el monto que puedes ahorrar y el periodo (mensual, semestral o anual) que mejor se adapta a tus posibilidades y momento de vida.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tu ahorro en nuestras manos genera rendimientos garantizados en dólares o en UDI, de acuerdo con el plan que elijas.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Durante la etapa de acumulación puedes realizar aportaciones adicionales en cualquier momento, mismas que puedes hacer deducibles de impuestos.',
                icon: 'icon-card-product.svg',
            },
            //- {
            //-     bullet: 'Al alcanzar la edad de retiro (55, 60, 65 o 70 años) recibes tu dinero de la forma que más te convenga de acuerdo con tus objetivos.',
            //-     icon: 'icon-card-product.svg',
            //- },
        ],
        stardotal:  [
            {
                bullet: 'En el momento en que el plan llegue al término de su vigencia recibe el ahorro que tu cliente generó.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'En caso de que llegue a faltar sus seres queridos reciben la suma asegurada contratada.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Cuenta con la opción de asegurarse junto con su pareja en el mismo plan.',
                icon: 'icon-card-product.svg',
            },
            //- {
            //-     bullet: 'Tu cliente decide el periodo de contratación de Star Dotal: 5, 10, 15 ó 20 años.',
            //-     icon: 'icon-card-product.svg',
            //- },
            //- {
            //-     bullet: 'Según el plazo que elija Star Dotal lo puede contratar en dólares o UDI.',
            //-     icon: 'icon-card-product.svg',
            //- },
        ],
        //- de smny
        orvi99:  [
            {
                bullet: 'Brinda a tus seres queridos un apoyo económico en caso de que llegaras a faltar, ya que Orvi 99 es para toda la vida, siempre y cuando mantengas vigente tu seguro.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Puedes elegir el periodo de pago que mejor se adapte a tus necesidades, garantizando una protección de por vida.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tienes opción de contratar de forma mancomunada, es decir, donde tu pareja y tú estarán protegidos.',
                icon: 'icon-card-product.svg',
            },
        ],
    }