-
    const ADVERTISEMENTS = [
        //- {
        //-     content: 'Aviso legal',
        //-     url: '',
        //- },
        //- {
        //-     content: 'Mapa del sitio',
        //-     url: '',
        //- },
        {
            content: 'Aviso de privacidad',
            url: 'https://www.proxper.com.mx/aviso-de-privacidad.html',
        },
    ]