-
    const CARDS_PRODUCT = [
        {
            productName: 'Realiza',
            productDescription: 'Protección más ahorro al alcance de tu bolsillo',
            productCtaUrl: 'realiza.html',
            productIcon: 'product-icon-realiza.svg',
            productThumbnail: 'card-product-realiza.jpg',
        },
        {
            productName: 'Segubeca',
            productDescription: 'Asegura la educación universitaria de tu hijo',
            productCtaUrl: 'segubeca.html',
            productIcon: 'product-icon-segubeca.svg',
            productThumbnail: 'card-product-segubeca.jpg',
        },
        {
            productName: 'Imagina Ser',
            productDescription: 'Ahorra para el retiro que imaginas',
            productCtaUrl: 'imagina-ser.html',
            productIcon: 'product-icon-imagina-ser.svg',
            productThumbnail: 'card-product-imagina-ser.jpg',
        },
        {
            productName: 'Vida Mujer',
            productDescription: 'Mujer previsora vale por dos',
            productCtaUrl: 'vida-mujer.html',
            productIcon: 'product-icon-vida-mujer.svg',
            productThumbnail: 'card-product-vida-mujer.jpg',
        },
        {
            productName: 'Gastos Médicos',
            productDescription: 'Protege tu salud y la de tus seres queridos',
            productCtaUrl: 'sgmm.html',
            productIcon: 'product-icon-sgmm.svg',
            productThumbnail: 'card-product-sgmm.jpg',
        },
        {
            productName: 'Star Dotal',
            productDescription: 'El ahorro que necesitas para alcanzar tus metas',
            productCtaUrl: 'star-dotal.html',
            productIcon: 'product-icon-realiza.svg',
            productThumbnail: 'card-product-star-dotal.jpg',
        },
        {
            productName: 'Orvi 99',
            productDescription: 'Tome decisiones hoy para maximizar sus ingresos en el futuro',
            productCtaUrl: 'orvi-99.html',
            productIcon: 'product-icon-realiza.svg',
            productThumbnail: 'card-product-orvi-99.jpg',
        },
    ]

    const CARDS_DIRECTOR_TEAM = [
         {
            teamName: 'Marco Villa',
            teamTitle: 'Socio fundador',
            teamPosition: 'directivo',
            teamPhoto: 'colaborador-marco-villa.jpg',
        },
        {
            teamName: 'Brando Fernández',
            teamTitle: 'Socio fundador',
            teamPosition: 'directivo',
            teamPhoto: 'colaborador-brando-fernandez.jpg',
        },
        {
            teamName: 'Vladimir Vera',
            teamTitle: 'Socio fundador',
            teamPosition: 'directivo',
            teamPhoto: 'colaborador-vladimir-vera.png',
        },
    ]

    const CARDS_MANAGEMENT_TEAM = [
        {
            teamName: 'Fernanda Sánchez',
            teamTitle: 'Gerente de Operaciones y Administración ',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-fernanda-sanchez.jpg',
        },
        {
            teamName: 'Verónica Martínez',
            teamTitle: 'Coordinadora de Administración y Operaciones',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-veronica-martinez.png',
        },
        {
            teamName: 'Marisol Ordoñez',
            teamTitle: 'Coordinadora de Capital Humano',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-marisol-ordonez.jpg',
        },
        {
            teamName: 'Valeria Martínez',
            teamTitle: 'Community Manager',
            teamPosition: 'gerente',
            teamPhoto: 'colaborador-valeria-martinez.jpg',
        },
    ]

    const CARDS_CONSULTANT_TEAM = [
        {
            teamName: 'Wendy Figueroa',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-wendy-figueroa.jpg',
            rank: 12,
        },
        {
            teamName: 'César Mata',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-cesar-mata.jpg',
            rank: 13,
        },
        {
            teamName: 'Gerardo Patiño',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-gerardo-patiño.jpg',
            rank: 14,
        },
        {
            teamName: 'Yessica Beamonte',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-yessica-beamonte.jpg',
            rank: 15,
        },
        {
            teamName: 'Marco Cisneros',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-marco-cisneros.jpg',
            rank: 16,
        },
        {
            teamName: 'Karina Fernández',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-karina-fernandez.jpg',
            rank: 8,
        },
        {
            teamName: 'Norma Monterrubio',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-norma-monterrubio.png',
            rank: 17,
        },
        {
            teamName: 'Elizabeth Huerta',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-elizabeth-huerta.jpg',
            rank: 18,
        },
        {
            teamName: 'Miriam Hoffman',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-miriam-hoffman.jpg',
            rank: 19,
        },
        {
            teamName: 'Alejandra Castro',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-alejandra-castro.jpg',
            rank: 21,
        },   
        {
            teamName: 'Iván Sanchez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-ivan-sanchez.jpg',
            rank: 22,
        },
        {
            teamName: 'César Sepúlveda',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-cesar-sepulveda.jpg',
            rank: 23,
        },
        {
            teamName: 'Jorge Gutiérrez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-jorge-gutierrez.jpg',
            rank: 25,
        },
        {
            teamName: 'Sharon Saules',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-sharon-saules.jpg',
            rank: 26,
        },
        {
            teamName: 'Liliana Campos',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-liliana-campos.jpg',
            rank: 7,
        },
        {
            teamName: 'Luis Cisneros',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-luis-cisneros.jpg',
            rank: 27,
        },
        {
            teamName: 'Cinthya Córdova',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-cinthya-cordova.png',
            rank: 9,
        },
        {
            teamName: 'Absalom Sánchez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-absalom-sanchez.png',
            rank: 5,
        },  
        {
            teamName: 'Luis Martínez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-luis-martinez.png',
            rank: 4,
        },  
        {
            teamName: 'Karla Andrade',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-karla-andrade.png',
            rank: 6,
        },  
        {
            teamName: 'Axel Navarro',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-axel-navarro.png',
            rank: 1,
        },  
        {
            teamName: 'Abigail Pineda',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-abigail-pineda.png',
            rank: 3,
        },  
        {
            teamName: 'Erika Zapata',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-erika-zapata.png',
            rank: 11,
        },  
        {
            teamName: 'Paulina Valdes',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-paulina-valdes.png',
            rank: 2,
        },  
        {
            teamName: 'Juan Rosas',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-juan-rosas.png',
            rank: 10,
        },  
        {
            teamName: 'Gerardo Servín',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-gerardo-servin.png',
            rank: 40,
        },  
        {
            teamName: 'Rafael Giménez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-rafael-gimenez.png',
            rank: 41,
        },  
        {
            teamName: 'Raquel Rodríguez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-wendy-rodriguez.png',
            rank: 42,
        },  
        {
            teamName: 'Miriam González',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-miriam-gonzalez.png',
            rank: 43,
        },  
        {
            teamName: 'Leonardo Hernández',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-leonardo-hernandez.png',
            rank: 44,
        },  
        {
            teamName: 'Fanny Pérez',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-fanny-perez.png',
            rank: 45,
        },  
        {
            teamName: 'Aurora Salvador',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-aurora-salvador.png',
            rank: 46,
        },  
        {
            teamName: 'María Díaz',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-maria-diaz.png',
            rank: 47,
        },  
        {
            teamName: 'Abigail Mendoza',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-abigail-mendoza.png',
            rank: 48,
        },  
        {
            teamName: 'Magdalena Rojo',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-magdalena-rojo.png',
            rank: 49,
        },  
        {
            teamName: 'Susana Rivera',
            teamTitle: 'Asesor Patrimonial',
            teamPosition: 'asesor',
            teamPhoto: 'colaborador-susana-rivera.png',
            rank: 50,
        },  
    ]

    const CARDS_HDIW = {
        realiza:  [
            {
                bullet: 'Estableces el monto que quieres de protección y el que puedes ahorrar según el periodo (mensual, semestral o anual) que mejor se adapta a tus posibilidades y momento de vida.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tu ahorro se generará a partir de haber cubierto tu prima básica de protección y los excelentes que ingreses a tu póliza de acuerdo con el riesgo que elijas.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tu seguro es vitalicio, lo que quiere decir que cambiará conforme lo hagan tus necesidades a lo largo de tu vida.',
                icon: 'icon-card-product.svg',
            },
        ],
        sgmm:  [
            {
                bullet: 'Cubre los gastos médicos de un accidente o enfermedad',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Da protección contra padecimientos congénitos',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Forma parte de una gran red de convenios hospitalarios',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Brinda cobertura por maternidad, complicaciones del embarazo y recién nacido',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Acceso a plan preferente con descuento en prima y ventajas en cobertura si gozas de buena salud',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Proporciona tratamientos dentales por accidentes amparados, así como de nariz y senos paranasales',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Obtienes segunda y tercera opinión médica sin costo',
                icon: 'icon-card-product.svg',
            },
        ],
        segubeca:  [
            {
                bullet: 'Define el monto que necesitas ahorrar para la educación de tu hijo; considera el Costo aproximado de la universidad y Gastos adicionales que se deben cubrir.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Si durante el tiempo en que te encuentras haciendo tus aportaciones llegaras a faltar o a padecer invalidez, SeguBeca cubre los pagos restantes a través de las coberturas que te ofrecemos para complementar tu plan ante alguna eventualidad.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'En caso de que llegues a faltar, tu familia contará con una suma asegurada al menos igual a la del ahorro que contrataste.',
                icon: 'icon-card-product.svg',
            },
        ],
        vidamujer:  [
            {
                bullet: 'Establece la protección que necesitas de acuerdo con tu etapa de vida y que se adapte mejor a tus necesidades.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Define el monto que puedes ahorrar, así como el periodo de pago (mensual, semestral o anual).',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'A partir del 5º año te entrega el 5% de la suma asegurada, posteriormente lo hace cada 2 años y así, hasta llegar al año 17. En el año 20 recibes el 80%. Al final habrás recibido 115% de la suma asegurada que contrataste.',
                icon: 'icon-card-product.svg',
            },
        ],
        imaginaser:  [
            {
                bullet: 'Estableces el monto que puedes ahorrar y el periodo (mensual, semestral o anual) que mejor se adapta a tus posibilidades y momento de vida.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tu ahorro en nuestras manos genera rendimientos garantizados en dólares o en UDI, de acuerdo con el plan que elijas.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'A los 65 años puedes optar por recibir todo tu dinero en una sóla exhibición (Sin retención de impuestos), ó en rentas mensuales vitalicias.',
                icon: 'icon-card-product.svg',
            },
        ],
        stardotal:  [
            {
                bullet: 'En el momento en que el plan llegue al término de su vigencia recibe el ahorro que tu cliente generó.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'En caso de que llegue a faltar sus seres queridos reciben la suma asegurada contratada.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Cuenta con la opción de asegurarse junto con su pareja en el mismo plan.',
                icon: 'icon-card-product.svg',
            },
        ],
        orvi99:  [
            {
                bullet: 'Brinda a tus seres queridos un apoyo económico en caso de que llegaras a faltar, ya que Orvi 99 es para toda la vida, siempre y cuando mantengas vigente tu seguro.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Puedes elegir el periodo de pago que mejor se adapte a tus necesidades, garantizando una protección de por vida.',
                icon: 'icon-card-product.svg',
            },
            {
                bullet: 'Tienes opción de contratar de forma mancomunada, es decir, donde tu pareja y tú estarán protegidos.',
                icon: 'icon-card-product.svg',
            },
        ],
    }