-
    const NAVBAR_LEFT = [
        {
            item: 'Productos',
            itemUrl: 'index.html#productos',
            itemChild: [],
        },
        {
            item: 'Nosotros',
            itemUrl: 'nosotros.html',
            itemChild: [],
        },
        //- {
        //-     item: 'Labor social',
        //-     itemUrl: '#',
        //-     itemChild: [
        //-         {
        //-             item: 'Casa de la Amistad',
        //-             itemUrl: 'labor-social-casa-de-la-amistad.html',
        //-         },
        //-         {
        //-             item: 'Teletón',
        //-             itemUrl: 'labor-social-teleton.html',
        //-         },
        //-     ]
        //- },
    ]
    
    const NAVBAR_RIGHT = [
        {
            content: 'Únete a nuestro equipo',
            url: 'unete-a-nuestro-equipo.html',
        },
        {
            content: 'Contacto',
            url: 'contacto.html',
        },
    ]