.button {
    display: inline-block;
    background-color: var(--second);
    border: toRem(1px) solid var(--second);
    border-radius: toRem(4px);
    color: var(--text-alt);
    padding: var(--su-8) var(--su-32);

    &--ghost {
        background-color: initial;
    }
    
    &--ghost-alt {
        color: var(--second);
        background-color: initial;
    }
}