.wrap-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--su-32);

    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media only screen and (min-width: 812px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    box-shadow: 0 0 var(--su-16) 0 hsla(0, 0, 0, .1);
    border-radius: var(--su-8);
    text-align: center;
    overflow: hidden;
    max-width: toRem(272px);

    &__thumbnail {
        background-color: var(--second-dark);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        position: relative;
        width: 100%;
        height: toRem(200px);
        z-index: -1;
        overflow: hidden;
    
        &.thumbnail--small {
            height: toRem(154px);
        }
    }

        &__hero {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &__photo {
            margin-top: toRem(-120px);
            margin-right: auto;
            margin-left: auto;
        }

            &__img {
                border: toRem(2px) solid var(--second);
                border-radius: 50%;
                width: toRem(180px);
                height: toRem(180px);
                transition: transform 0.3s ease-in;
                
                &:hover {
                    transform: scale(1.01);
                    transition: transform 0.1s ease-in;
                }
            }
     
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: var(--body);
        font-weight: var(--light); 
        padding: var(--su-32);
    }
    
        &__description {
            margin-bottom: var(--su-32);
        }
  
            &__title {
                @extend .subhead__subtitle;
                @extend .weight--bold;
                color: var(--text);
                margin-bottom: var(--su-16);
            }
            
            &__text {
                @extend .text__body;
                @extend .weight--light;
                color: var(--text-light);
            }


        &__cta {}

            &__link {
                display: inline-block;
                margin-right: var(--su-8);
                margin-left: var(--su-8);
            }

        &__link {
            color: var(--first-light);
            font-weight: var(--regular);
        }
}

.bullets {
    margin-bottom: var(--su-80);
}

.card-product {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--su-32);
    margin-right: auto;
    margin-left: auto;
    max-width: toRem(880px);
    
    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media only screen and (min-width: 812px) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        background-color: var(--second-dark);
        border-radius: var(--su-32) var(--su-32) var(--su-80);
        padding: var(--su-32)  var(--su-32) calc(var(--su-32) * 2) var(--su-32);
        position: relative;
        margin-bottom: auto;
    }

    &__icon {
        position: absolute;
        right: 0;
    }
}

.directivos,
.gerentes {

    .wrap-card {

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            max-width: toRem(576px);
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.directivos,
.gerentes {
    
    .wrap-card {
        
        @media only screen and (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            max-width: toRem(880px);
        }
    }
}