.wrap-card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: var(--su-32);

    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media only screen and (min-width: 812px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card-product {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    row-gap: var(--su-40);
    column-gap: var(--su-32);
    text-align: center;

    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    &__item {
        box-shadow: 0 0 var(--su-16) 0 hsla(0, 0, 0, .1);
        border-radius: toRem(4px);
        width: toRem(240px);
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }

    &__poster {
        background-color: var(--second-dark);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        position: relative;
        height: toRem(160px);
        z-index: -1;
        overflow: hidden;
    
        img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        padding: var(--su-32) var(--su-24);
    }

    h3 {
        margin-top: 0;
    }
}

.card-team {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    row-gap: var(--su-32);
    column-gap: var(--su-32);
    
    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: var(--su-64);
    }
    
    @media only screen and (min-width: 568px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    &__item {
        text-align: center;
        width: toRem(206px);
        margin-right: auto;
        margin-left: auto;
    }

    &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-dark);
        border-radius: 100%;
        margin-right: inherit;
        margin-bottom: var(--su-16);
        margin-left: inherit;
        position: relative;
        height: toRem(160px);
        width: toRem(160px);

        &::before {
            content: '';
            background-color: var(--second);
            border-radius: inherit;
            height: toRem(156px);
            width: toRem(156px);
            position: absolute;
            z-index: 1;
        }

        img {
            border-radius: inherit;
            margin-right: auto;
            margin-left: auto;
            position: inherit;
            z-index: 10;
        }
    }

    &__name {
        font-size: var(--caption);
        margin-bottom: toRem(4px);
    }
}

.directores {

    @media only screen and (min-width: 1024px) {
        grid-template-areas: '. first second .';
        
        .card-team__item {

            &:first-child {
                grid-area: first;
            }
            
            &:last-child {
                grid-area: second;
            }
        }
    }
}