mixin section_content(textContent, boolCenterText, boolColorText)
    p(class=`section-content 
            ${boolColorText == true ?'section-content--alt' : ''} 
            ${boolCenterText == true ? 'section-content--center' : ''}`
        )= textContent