mixin what_is_it(productTitle, productDescription, productImg)
    .what-is-it
        .what-is-it__wrap
            .what-is-it__child
                h3.subhead__display.text= productTitle
            .what-is-it__child
                p.body.regular.text-light= productDescription