.container {
    max-width: 100vw;
    padding-right: var(--su-16);
    padding-left: var(--su-16);

    &--p128 {
        padding-top: toRem(128px);
        padding-bottom: toRem(128px);
    }

    &--p88 {
        padding-top: toRem(88px);
        padding-bottom: toRem(88px);
    }
}

    .subcontainer--w880 {
        margin-right: auto;
        margin-left: auto;
        max-width: toRem(880px);
    }

.wrap {
    margin-right: auto;
    margin-left: auto;

    &--lg {
        max-width: var(--wrap-lg);
    }
    
    &--md {
        max-width: var(--wrap-md);
    }
    
    &--sm {
        max-width: var(--wrap-sm);
    }
}