html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: var(--body);
    line-height: 175%;
    
    @media only screen and (min-width: 1024px) {
        padding-top: 72px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

// LVHA
a, 
a:link, 
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
}