$spacing-units: (
    su-88: toRem(88px),
    su-80: toRem(80px),
    su-64: toRem(64px),
    su-48: toRem(48px),
    su-40: toRem(40px),
    su-36: toRem(36px),
    su-32: toRem(32px),
    su-24: toRem(24px),
    su-16: toRem(16px),
    su-12: toRem(12px),
    su-8: toRem(8px)
);

$wrap-max-width: (
    wrap-lg: toRem(1280px),
    wrap-md: toRem(1024px),
    wrap-sm: toRem(800px)
);