$font-size: (
    display: toRem(53.41px),
    heading: toRem(34.18px),
    title: toRem(27.34px),
    subtitle: toRem(21.88px),
    caption: toRem(17.50px),
    body: toRem(14px),
    small: toRem(11.20px)
);

$font-weight: (
    bold: 700,
    sbold: 600,
    regular: 400,
    light: 300 
);