nav.nav-arrows
    ul.nav-arrows__controls
        li: a(href=""): img(src=`${pathImg}arrow.svg`, class="nav-arrows__prev", alt="")
        li: a(href=""): img(src=`${pathImg}arrow.svg`, class="nav-arrows__next", alt="")